<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form class="" action="/auth/login/done" method="post">
      <input type="text" name="user_id" placeholder="username">
      <br>
      <input type="password" name="passwd" placeholder = "password">
      <br>
      <input type="submit">
      <a href="/auth/join">회원가입 하러 가기 </a>
    </form>
  </body>
</html>
